

body{
    background-color: rgb(196, 73, 73);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    }
    
h1{
    background-color: aliceblue;
}

h2{
    background-color: aliceblue;
}

h3{
    background-color: aliceblue;
}

h4{
    background-color: aliceblue;
}

footer{
    background-color: rgb(169, 68, 68);
    text-align: center;
    font-weight: 500;
    opacity: 0.75;
    padding: 50px 0;
    clear: both 
    margin-top:30px;
}


        p{
            color: rgb(255, 255, 255);
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
        }

        
